.HomeWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: #fff;
}

.formWrapper {
  background-color: #282a36;
  padding: 10px;
  border-radius: 10px;
  width: 400px;
}
.formWrapper img {
  width: 200px;
  height: 100%;
}
footer a {
  color: #4aee88;
}
.formWrapper a {
  color: #4aee88;
}
.inputGroup {
  display: flex;
  flex-direction: column;
}
.inputGroup input {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
.inputGroup input:hover {
  box-shadow: inset 1px -5px 5px 2px #01011485;
}
.formWrapper p {
  font-size: 13px;
  text-align: center;
  margin-top: 20px;
}
.inputGroup input::placeholder {
  font-weight: bold;
}
.formWrapper button {
  font-size: 16px;
  font-weight: bold;
  color: black;
  background-color: #4aee88;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
  width: 100px;
  margin-left: auto;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}
.formWrapper button:hover {
  box-shadow: inset 1px -5px 5px 2px #01011485;
}
.createNewRoom {
  cursor: pointer;
}
footer {
  position: fixed;
  bottom: 0;
}

/* Main editor page css */
.mainwrapper {
  /* background-color: #282a36; */
  display: grid;
  grid-template-columns: 210px 1fr;
}
.aside {
  background-color: #282a36;
  display: flex;
  flex-direction: column;
  color: #fff;
  padding: 6px;
}
.asideinner {
  flex: 1;
}
.clientlist {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}
.client {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-weight: bold;
}
.main-logo {
  font-size: 20px;
}
.first-logo-text {
  color: #fff;
  font-size: 20px;
  font-style: oblique;
}
.first-logo {
  color: #fff;
}
.last-logo-text {
  font-style: oblique;
  color: #4aee88;
  margin-left: 5px;
}
.logo-text {
  color: #4aee88;
}
.connectedText {
  margin-top: 10px;
}
.clientName {
  margin-top: 10px;
  font-size: 14px;
}
.leaveRoom {
  font-size: 14px;
  font-weight: bold;
  color: #000;
  background-color: #4aee88;
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}
.leaveRoom:hover {
  box-shadow: inset 1px -5px 5px 2px #01011485;
}
.copyRoomId {
  border: none;
  outline: none;
  padding: 10px 10px;
  border-radius: 10px;
  font-weight: bold;
  color: #000;
}
.CodeMirror {
  min-height: calc(100vh - 50px);
  font-size: 20px;
  line-height: 1;
  padding-top: 15px;
}
